<%= form_for([@user, @post], remote: true, :html => {class: "form-horizontal", multipart: true, role: "form"}) do |f| %>
    <div class="form-group">
      <div class="col-md-10">
        <%= f.text_area :body, rows:2, :resize => :none, placeholder: "Type your post!", class:"form-control", :autocomplete => :off, id:"post-input-body" %>
      </div>
      <div class="col-md-2">
        <%= f.submit "Post", id:'newpost', class:"btn btn-primary" %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-md-10">
       <%= f.file_field :avatar, id:'post-picture' %>
     </div>
    </div>
 
<% end %>