<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <%= form_for([@user, @post], :html => {class: "form-horizontal", role: "form"}) do |f| %>
      <div class="col-md-10">
        <%= f.text_field :body, placeholder: "Type your post!", class:"form-control", :autocomplete => :off %>
      </div>
      <div class="col-md-2">
          <%= f.submit "Post", class:"btn btn-primary" %>
      </div>
      <% end %>
  </div>
</div>


