@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'lightbox';

body {
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
}


.alert-error {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
    text-align: left;
}

.alert-alert {
    background-color: #F2DEDE;
    border-color: #EBCCD1;
    color: #A94442;
    text-align: left;
}

.alert-success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
    text-align: left;
}

.alert-notice {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
    text-align: left;
}

.listing-posts {
    padding-top: 30px;
}

.comments{
    background: #FDFDFD;
}

.user-profile-name-container {
     margin-top: 250px;
     z-index: 2;
}

.user-profile-name {
    font-weight: bolder;
    color: white;
     text-shadow: 1px 1px #000000;
}

.user-profile-follow-btns {
    margin-top:325px;
    z-index: 2;
}

.tabs-profile {
    margin-top: 10px;
}


.user-avatar-container {
    margin-top:220px;
    z-index: 2;
}

.user-show-avatar {
    height:170px;
    width:170px;
    border-radius:15%;
    border: 3px solid white;
    
}

.user-show-avatar-posts {
    height:40px;
    width:40px;
    border: 1px solid rgba(0,0,0,0.1);
    //border-radius:15%;
}

.user-show-avatar-comments {
    height:32px;
    width:32px;
    border: 1px solid rgba(0,0,0,0.1);
    //border-radius:15%;
}

.user-cover-container {
    position: absolute;
     width: 1000px;
    height: 315px;
     overflow:hidden;  
     z-index: 1;
}

.user-show-cover {
  /*  height:315px;
    width:1000px;
    background-size:cover; 
    background-position:center center; 
  background-repeat:no-repeat; */
  width: auto;
  //max-width: 1000px;
  height: auto;
 // max-height: 315px;
    min-width: 100%;
    min-height: 100%;
    //border-radius:15%;
}



.newpost-form {
    padding-top: 20px;
}

.post-creator {
    padding-left:5px;
}
.post-username {
    font-weight: bold;
}

.comment-creator{
    padding-left:3px;
}

.post {
    margin:10px;
}

.post .post-body{
    margin: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.post-body-content {
    padding-top: 10px;
}

.post .comments {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.section-comments {
    padding-left:20px;
}
.comment-box {
    padding-left:0px;
}